<div class="container">
  <div class="offset-md-2 col-md-8">
    <div class="table_form">
      <h1 class="text-center">Editing Organization</h1>
      <%= render 'form', task: @task %>
    </div>
  </div>
</div>
