<% if hint_owner.hint.present? %>
  <span style="font-size: 1em; color: Darkgray" data-tooltip='<%= hint_form(hint_owner) %>'>
    <i class="far fa-question-circle fa-spin fa-xs"></i>
  </span>
<% end %>
