<div class="text-center">
  <h1>Даша-налогоплательщица</h1>
  <img src="http://multhero.ru/wp-content/uploads/2013/10/dasha-sledopyt.jpg" class="rounded" alt="Ultra-mega-agony.jpg">
  <p></p>
  <p>Are you ready for a pain? Are you ready for a suffering?</p>
  <p>If you answer is yes, than you ready for tax payments!</p>
</div>
