<div class="text-center">
  <h1>Даша-налогоплательщица</h1>
  <%= image_tag("logo.jpg", :class => "rounded", :alt => "Logo image") %>
  <p></p>
  <p>Are you ready for a pain? Are you ready for a suffering?</p>
  <p>If you answer is yes, than you ready for tax payments!</p>
</div>
