development:
  mail_login: 'example@gmail.com'
  mail_password: 'password'
  twitter:
    app_id: ''
    app_secret: ''
  github:
    app_id: ''
    app_secret: ''
test:
  twitter:
    app_id: ''
    app_secret: ''
  github:
    app_id: ''
    app_secret: ''
production:
  twitter:
    app_id: ''
    app_secret: ''
  github:
    app_id: ''
    app_secret: ''