<table class="table">
  <tr>
    <td>Выручка в BYN </td>
    <td>Курсовая разница </td>
    <td>Валовая выручка</td>
    <td>Сумма налога к оплате: </td>
  </tr>

  <tr>
    <td><%= @data_statement.receipts %> </td>
    <td><%= @data_statement.exchange_difference %></td>
    <td><%= @data_statement.gross_revenue %></td>
    <td><%= @data_statement.sum_tax %> </td>
  </tr>
</table>
