<p id="hidden">
  <%= @organization.organization_form %>

  <% @organization.activities.each do |activity|%>
    <%= activity.activity_type.name %>
    <%= activity.taxation_form.name %>
  <% end %>
</p>



<div class="container">
  <div class="offset-md-2 col-md-8">
    <div class="table_form">
      <h1 class="text-center">Editing Organization</h1>
      <%= render 'form', organization: @organization %>
    </div>
  </div>
</div>